@import "~bootstrap/scss/bootstrap";

.body {
  transition: all 0.4s ease-in-out;
}

.main {
  position: relative;
  transition: 1s ease-in;
}

.important {
  background-color: rgba(255, 0, 0, 0.925);
}

.high {
  background-color: rgba(248, 69, 69, 0.685);
}

.normal {
  background-color: rgba(125, 233, 62, 0.842);
}

.project-form {
  height: 100%;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .project-todo-number {
    background-color: rgb(68, 61, 61);
    font-size: 15px;
    width: 18px;
    text-align: center;
    border-radius: 50%;
    color: white;
  }
}

.dimmed {
  opacity: 0.2;
  transition: 0.4s ease-in-out;
}

.list-group {
  border-right: 1px solid rgb(194, 193, 193);
  height: 100vh;
}

.todo-container {
  max-height: 700px;
  max-width: 850px;
  border-radius: 3px;
  border: 1px rgb(224, 224, 224) solid;
  overflow-y: auto;

  .todo-header {
    border-bottom: rgb(224, 224, 224) 1px solid;
  }

  .todo,
  .create-todo-btn {
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  .todo-right {
    .fas {
      background-color: inherit;
      border: none;
      padding: 0 2px;
    }

    span {
      margin-right: 10px;
    }
  }
}

.hovering-popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  z-index: 22;

  .hover {
    width: 500px;
    min-height: 400px;
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
  }
}

.done {
  text-decoration: line-through;
  background-color: rgb(83, 83, 83);
}
